{
  "presets": [
    "es2015",
    "react"
  ],
  "plugins": [
    [
      "webpack-alias",
      {
        "noOutputExtension": true
      }
    ],
    "react-hot-loader/babel",
    "transform-object-rest-spread"
  ]
}